// LAYOUT;

.dshUiEingabefeld {
  border: 1px solid;
  border-top-right-radius: @radius2;
  border-top-left-radius: @radius2;
  padding: 3px 5px;
  width: 100%;
  height: 30px;
}

.dshUiZahlfeld {
  padding-right: 0px !important;
}

.dshUiTextarea {
  width: 100%;
  min-height: 50px;
  resize: vertical;
}

// Datumfeld
.dshUiDatumfeldM,
.dshUiDatumfeldT,
.dshUiUhrzeitfeldStd,
.dshUiUhrzeitfeldMin,
.dshUiUhrzeitfeldSek {
  width: 40px;
  text-align: center;
}

.dshUiDatumfeldJ {
  width: 60px;
  text-align: center;
}

.dshUiEingabefeld:focus,
.dshUiEingabefeld:hover {
  border-style: solid;
}

// Schieber
.dshUiSchieberAussen {
  display: inline-block;
  width: 40px;
  border: 1px solid;
  border-radius: calc(@radius5 + 2px);
  line-height: 0;
  transition: 250ms ease-in-out;
}

.dshUiSchieber {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: @radius5;
  transition: 250ms linear;
  cursor: pointer;
}

.dshUiSchieber0 .dshUiSchieber {
  margin-left: 0px;
}

.dshUiSchieber1 .dshUiSchieber {
  margin-left: 18px;
}

.dshUiFeld {
  display: inline-block;
  position: relative;
}

// Datumwahl
.dshUiDatumwahl {
    position: absolute;
    left: 0px;
    top: 32px;
    border: 1px solid;
    border-radius: @radius2;
    z-index: 2;
    padding: 5px;
    display: none;
    box-shadow: 2px 2px 4px 1px rgba(33, 33, 33, 0.1);
  }

  .dshUiDatumwahl table {
    border-collapse: collapse;
  }

  .dshUiDatumwahl td {
    padding: 1px;
    padding-bottom: 2px;
    width: 33px;
    text-align: center;
  }

  .dshUiDatumwahl td .dshUiKnopf{
    box-shadow: 0;
    margin: 0px;
  }

  .dshUiTageswahlMonatname, .dshUiTageswahlTagname {
    font-weight: 600;
  }

  .dshUiTageswahlTagname {
    min-width: 30px;
    padding: 15px 5px 10px 5px !important;
  }

  .dshUiTageswahlKaledenderwoche {
    font-size: 80%;
  }

  .dshUiDatumwahl .dshUiKnopf {
    width: 100%;
    text-align: center;
  }

// Farbvorschau
.dshUiFarbfeld {
  height: auto;
}

.dshUiFarbbeispiele {
  width: 80%;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

  .dshUiFarbbeispiele input[type=color] {
    width: 100%;
    margin-top: 10px;
  }

  .dshUiFarbbeispiele .dshUiFarbbeispieleSchattierung {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
  }

  .dshUiFarbbeispiele .dshUiFarbbeispieleSchattierung .dshUiFarbbeispiel {
    margin: 3px;
  }

.dshUiFarbvorschau {
  float: right;
  width: 15%;
  height: 376px;
  border-radius: 8px;
  border: 2px solid;
  margin: 2px auto;
}

.dshUiFarbbeispiel {
  display: inline-block;
  width: calc(100% - 6px);
  min-width: 13px;
  max-width: 48px;
  border-radius: 30%;
  border: 2px solid;
  cursor: pointer;
  position: relative;
}

.dshUiFarbbeispiel::before {
  padding-top: 100%;
  content: "";
  display: block;
}

.dshSeiteH .dshUiFarbbeispiele,
.dshSeiteT .dshUiFarbbeispiele {
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
  .dshSeiteH .dshUiFarbbeispiele .dshUiFarbbeispieleSchattierung,
  .dshSeiteT .dshUiFarbbeispiele .dshUiFarbbeispieleSchattierung {
    flex-direction: column;
    justify-content: inherit;
  }

.dshSeiteH .dshUiFarbvorschau,
.dshSeiteT .dshUiFarbvorschau {
  margin-top: 10px;
  width: 100%;
  height: 50px;
}

.dshUiSpamschutzA {
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items : flex-end
}

  .dshUiSpamschutzBild {
    border-top-right-radius: @radius2;
    border-top-left-radius: @radius2;
    border: 1px solid;
    display: inline-block;
    margin-right: 10px;
  }

  .dshUiSpamschutzEingabe {
    flex: auto;
    display: inline-block;
  }

  .dshUiSpamschutzHinweis {
    display: block;
    margin-bottom: 3px;
    font-size: 80%;
  }

.dshSeiteH .dshUiSpamschutzA {
  display: block;
}

  .dshSeiteH .dshUiSpamschutzEingabe {
    width: 100%;
    margin-top: 10px;
  }

// FARBEN;

.dshUiEingabefeld {
  background-color:  @seitenhintergrund;
  border-color: @abstufung4;
  color: @schriftfarbePositiv;
}

.dshUiEingabefeld:focus,
.dshUiEingabefeld:hover {
  border-color: @abstufung4;
}

.dshUiPruefen0 {
  border-color: @fehlerAkzent !important;
  outline-color: @fehlerAkzent !important;
}

.dshUiPruefen1 {
  border-color: @erfolgAkzent !important;
  outline-color: @erfolgAkzent !important;
}

.dshUiSchieberAussen {
  border-color: @abstufung2;
}

.dshUiSchieber {
  background-color: @seitenhintergrund;
}

.dshUiSchieber0 {
  background-color: @fehlerHintergrund;
}

.dshUiSchieber1 {
  background-color: @erfolgHintergrund;
}

.dshUiTageswahlMonatname, .dshUiTageswahlTagname {
  color: @schriftfarbePositiv;
}

.dshUiDatumwahl {
  background-color: @abstufung1;
  border-color: @abstufung4;
}

.dshUiDatumwahl .dshUiTagGewaehlt {
  color: @schriftfarbeNegativ;
  background-color: @abstufung3;
}

.dshUiFarbbeispiel,
input[type=color],
.dshUiFarbvorschau {
  border-color: @schriftfarbePositiv;
}

.dshUiTageswahlKaledenderwoche {
  color: @abstufung3;
}

.dshUiSpamschutzBild {
  border-color: @abstufung4;
}

.dshUiSpamschutzHinweis {
  color: @abstufung3
}
