// LAYOUT;

.dshUiFenster {
  border-radius: @radius3;
  background-color: @seitenhintergrund;
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
}

  .dshUiFensterTitelzeile {
    padding: 5px 10px;
    border-top-right-radius: @radius3;
    border-top-left-radius: @radius3;
  }

  .dshUiFensterTitelzeile {
    padding: 10px 10px;
    border-top-right-radius: @radius3;
    border-top-left-radius: @radius3;
    position: relative;
  }

  .dshUiFensterTitel {
    font-weight: bold;
  }

  .dshUiFenster .dshUiFensterTitelzeile .dshUiFensterSchliessen {
    position: absolute !important;
    right: 10px;
    top: 5px;
    margin: 0px;
  }

  .dshUiFensterAktionen {
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    border-bottom-right-radius: @radius3;
    border-bottom-left-radius: @radius3;
    overflow: hidden;
  }

  .dshUiFensterAktionen .dshUiKnopf {
    flex: auto;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: @radius1;
  }

  .dshUiFensterAktionen .dshUiKnopf:first-child {
    border-bottom-left-radius: @radius3;
  }

  .dshUiFensterAktionen .dshUiKnopf:last-child {
    border-bottom-right-radius: @radius3;
  }

#dshFenstersammler .dshUiFenster {
  position: fixed;
  top: 30px;
  left: 35%;
  z-index: 10000;
  box-shadow: 0px 0px 20px @schriftfarbePositiv;
}


// FARBEN;
  .dshUiFensterTitelzeile {
    background-color: @standardHintergrund;
    color: @standardSchrift;
  }
