// LAYOUT;

.dshUiKnopf, .dshUiKnopfMini, .dshUiKnopfIcon, .dshUiKnopfGross,
.dshUiToggle, .dshUiToggleIcon, .dshUiToggleGross, .dshUiSortierknopf {
  display: inline-block;
  border-radius: @radius2;
  cursor: pointer;
  transition: 250ms ease-in-out;
}

.dshUiKnopf, .dshUiKnopfIcon, .dshUiKnopfGross,
.dshUiToggle, .dshUiToggleIcon, .dshUiToggleGross {padding: 3px 6px;}
.dshUiKnopfMini, .dshUiSortierknopf {padding: 3px 5px;}

.dshUiKnopfPassiv, .dshUiKnopfGesperrt, .dshUiKnopfEingeschraenkt {
  cursor: not-allowed !important;
}

.dshUiKnopfGross i, .dshUiToggleGross i {
  display: block;
  text-align: center;
  font-size: 150%;
}

.dshUiKnopfGross .dshUiKnopfGrossText, .dshUiToggleGross .dshUiToggleGrossText {
  display: block;
  text-align: center;
}

.dshUiTabelle th .dshUiSortierknopf {
  position: absolute;
  transition: 250ms ease-in-out;
  padding: 0px 2px;
}

// FARBEN;

.dshUiKnopf, .dshUiKnopfMini, .dshUiKnopfIcon, .dshUiKnopfGross, .dshUiSortierknopf,
.dshUiToggle, .dshUiToggleIcon, .dshUiToggleGross {
  position: relative;
  background-color: @abstufung2;
  border: 1px solid @abstufung3;
  color: @schriftfarbePositiv;
}

.dshUiKnopfErfolg, .dshUiToggled  {
  background-color: @erfolgHintergrund;
  border-color: @erfolgAkzent;
}
.dshUiKnopfInformation    {
  background-color: @infoHintergrund;
  border-color: @infoAkzent;
}
.dshUiKnopfWarnung {
  background-color: @warnungHintergrund;
  border-color: @warnungAkzent;
}
.dshUiKnopfFehler {
  background-color: @fehlerHintergrund;
  border-color: @fehlerAkzent;
}
.dshUiKnopfEingeschraenkt {
  border-color: @fehlerAkzent;
}

.dshUiKnopfPassiv, .dshUiKnopfGesperrt, .dshUiKnopfEingeschraenkt {
  background-color: @seitenhintergrund !important;
}

.dshUiKnopfGesperrt {
  border-color: @schriftfarbePositiv !important;
}

.dshUiKnopf:hover, .dshUiKnopfMini:hover, .dshUiKnopfIcon:hover,
.dshUiKnopfGross:hover, .dshUiSortierknopf:hover,
.dshUiToggle:hover, .dshUiToggleIcon:hover, .dshUiToggleGross:hover {
  color: @schriftfarbeNegativ;
  background-color: @abstufung3;
}

.dshUiToggled:hover {
  color: @schriftfarbeNegativ !important;
  background-color: @abstufung3 !important;
}

.dshUiKnopfErfolg:hover, .dshUiToggle:hover, .dshUiToggleIcon:hover, .dshUiToggleGross:hover  {
  background-color: @erfolgAkzent;
}

.dshUiKnopfInformation:hover    {
  background-color: @infoAkzent;
}

.dshUiKnopfWarnung:hover {
  background-color: @warnungAkzent;
}

.dshUiKnopfFehler:hover  {
  background-color: @fehlerAkzent;
}

.dshUiKnopfPassiv:hover, .dshUiKnopfGesperrt:hover, .dshUiKnopfEingeschraenkt:hover {
  background-color: @seitenhintergrund !important;
  color: @schriftfarbePositiv;
}
