// LAYOUT;

.dshUiKnopf {
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
//  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out, color 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  border-bottom: 2px solid;
  margin: 1px;
  position: relative;
}

.dshUiKnopf {
  padding: 3px 6px;
}

.dshUiKnopf>span {
  position: inherit;
  z-index: 2;
}

.dshUiKnopf::before,
.dshUiKnopf::after {
  transition: height 250ms ease-in-out, background-color 250ms ease-in-out;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  content: " ";
  width: 100%;
}

.dshUiKnopf::before {
  height: 100%;
}

.dshUiKnopf::after {
  height: 0%;
}

.dshUiKnopf:hover::after {
  height: 100%;
}

.dshUiKnopfIcon:not(.dshUiKnopfGross) {
  border-left: 23px solid;
  position: relative;
}

.dshUiKnopfIcon:not(.dshUiKnopfGross) i.icon {
  position: absolute;
  top: 5px;
  left: -18px;
}

.dshUiKnopfIcon:not(.dshUiKnopfGross) i.fas.fa-caret-right {
  left: -14px;
}

.dshUiKnopfIcon:not(.dshUiKnopfGross) i.fas.fa-exclamation-triangle {
  left: -19px;
}

.dshUiKnopfIconMini {
  padding: 3px 5px;
  min-width: 25px;
  text-align: center;
}

.dshUiKnopfVerboten {
  cursor: not-allowed !important;
}

.dshUiKnopfLeer {
  opacity: 0.75;
  cursor: default;
}

.dshUiKnopfGross i,
.dshUiToggleGross i {
  display: block;
  text-align: center;
  font-size: 150%;
  margin-bottom: 3px;
}

.dshUiKnopfGross .dshUiKnopfGrossText, .dshUiToggleGross .dshUiToggleGrossText {
  display: block;
  text-align: center;
}

// FARBEN;

<?php

// [Var] => [CSS]
$arten = array(
  "standard"        => "",
  "erfolg"          => "Erfolg",
  "fehler"          => "Fehler",
  "warnung"         => "Warnung",
  "info"            => "Information",
  // "eingeschraenkt"  => "Eingeschraenkt",
  // "gesperrt"        => "Gesperrt",
);

foreach($arten as $var => $css) {
  echo ".dshUiKnopf$css{".
    "background-color:transparent;".
    "border-color:@{$var}Akzent !important;".
    "color:@{$var}Schrift".
  "}";

  echo ".dshUiKnopf$css::before{".
    "background-color:@{$var}Hintergrund;".
  "}";

  echo ".dshUiKnopf$css::after{".
    "background-color:@{$var}Akzent;".
  "}";


  echo ".dshUiKnopf$css:hover::before{".
    "background-color:@{$var}Akzent;".
  "}";

  echo ".dshUiKnopf$css:hover::after{".
    "background-color:@{$var}Hintergrund;".
  "}";


  echo ".dshUiKnopf$css.dshUiKnopfIcon i.icon{color:@{$var}Akzent}";
  echo ".dshUiKnopf$css.dshUiKnopfIcon:not(.dshUiKnopfGross) i.icon{color:@{$var}Hintergrund}";
}

?>