// LAYOUT;

.dshUiLaden {
	padding: 10px 0px;
  text-align: center;
}

.dshUiLaden .dshUiLadenStatus {
  text-align: center;
  display: block;
}

.dshUiLadenIcon {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 11px;
	margin-bottom: 10px;
}

.dshUiLadenIcon div {
	position: absolute;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.dshUiLadenIcon div:nth-child(1) {
	left: 0px;
	animation: dshUiLadenIcon1 0.6s infinite;
}

.dshUiLadenIcon div:nth-child(2) {
	left: 0px;
	animation: dshUiLadenIcon2 0.6s infinite;
}

.dshUiLadenIcon div:nth-child(3) {
	left: 20px;
	animation: dshUiLadenIcon2 0.6s infinite;
}

.dshUiLadenIcon div:nth-child(4) {
	left: 39px;
	animation: dshUiLadenIcon3 0.6s infinite;
}

@keyframes dshUiLadenIcon1 {
	0% {transform: scale(0);}
	100% {transform: scale(1);}
}

@keyframes dshUiLadenIcon2 {
  0% {transform: translate(0, 0);}
  100% {transform: translate(19px, 0);}
}

@keyframes dshUiLadenIcon3 {
	0% {transform: scale(1);}
	100% {transform: scale(0);}
}


.dshUiBalken {
  margin-bottom: 10px;
}

.dshUiBalkenA {
  border: 1px solid;
  border-color: @abstufung3;
  width:100%;
  border-radius: @radius3;
  overflow: hidden;
  background-color: @abstufung1;
  line-height: 0;
  margin-bottom: 5px;
  height: 10px;
}

.dshUiBalkenI {
  transition: all 250ms ease-in-out;
  height: 10px;
}


// FARBEN;
.dshUiLaden .dshUiLadenStatus {
	color: @abstufung3;
}

.dshUiLadenIcon div {
	background-color: @abstufung3;
}

.dshUiBalkenZeit .dshUiBalkenA {
  background-color: @fehlerHintergrund;
}

.dshUiBalkenZeit .dshUiBalkenI {
  background-color: @erfolgHintergrund;
}

.dshUiBalkenSpeicher .dshUiBalkenA {
  background-color: @erfolgHintergrund;
}

.dshUiBalkenSpeicher .dshUiBalkenI {
  background-color: @fehlerHintergrund;
}

.dshUiBalkenSchritte .dshUiBalkenI, .dshUiBalkenProzent .dshUiBalkenI {
  background-color: @infoHintergrund;
}
