// LAYOUT;

.dshUiMeldung {
  margin-top: 10px;
  margin-bottom: 10px;
}

  .dshUiMeldungTitel {
    padding: 5px 10px 4px 10px;
  }

    .dshUiMeldungTitel * {
      font-weight: bold;
    }

  .dshUiMeldungInhalt {
    padding: 5px 10px 5px 5px;
  }


// FARBEN;

.dshUiMeldung {
  background: @abstufung1;
}

  .dshUiMeldungTitel {
    background: @abstufung4;
  }

    .dshUiMeldungTitel * {
      color: @schriftfarbeNegativ;
    }

  .dshUiMeldungInhalt {
    border-left: 5px solid @abstufung4;
  }

.dshUiMeldungErfolg {
    background-color: @erfolgHintergrund;
  }

  .dshUiMeldungErfolg .dshUiMeldungTitel {
    background-color: @erfolgAkzent;
  }

  .dshUiMeldungErfolg .dshUiMeldungInhalt {
    border-color: @erfolgAkzent;
  }

.dshUiMeldungInfo {
    background-color: @infoHintergrund;
  }

  .dshUiMeldungInfo .dshUiMeldungTitel {
    background-color: @infoAkzent;
  }

  .dshUiMeldungInfo .dshUiMeldungInhalt {
    border-color: @infoAkzent;
  }

.dshUiMeldungWarnung, .dshUiMeldungSchutz {
    background-color: @warnungHintergrund;
  }

  .dshUiMeldungWarnung .dshUiMeldungTitel,
  .dshUiMeldungSchutz .dshUiMeldungTitel {
    background-color: @warnungAkzent;
  }

  .dshUiMeldungWarnung .dshUiMeldungInhalt,
  .dshUiMeldungSchutz .dshUiMeldungInhalt {
    border-color: @warnungAkzent;
  }

.dshUiMeldungFehler {
    background-color: @fehlerHintergrund;
  }

  .dshUiMeldungFehler .dshUiMeldungTitel {
    background-color: @fehlerAkzent;
  }

  .dshUiMeldungFehler .dshUiMeldungInhalt {
    border-color: @fehlerAkzent;
  }

.dshUiMeldungLaden {
    background-color: @abstufung1;
  }

  .dshUiMeldungLaden .dshUiMeldungTitel {
    background-color: @abstufung4;
  }

  .dshUiMeldungLaden .dshUiMeldungInhalt {
    border-color: @abstufung4;
  }

  // LAYOUT;

  .dshUiMeldungLaden .dshUiMeldungInhalt {
    border: 5px dashed;
    border-top: none;
    padding: 5px;
  }
