// LAYOUT;

.dshUiMeldung {
  border-left: 23px solid;
  border-right: 2px solid;
  padding: 10px 10px 10px 10px;
  margin: 10px 0px;
  position: relative;
  border-radius: 2px;
  box-shadow: 2px 2px 4px 1px rgba(33, 33, 33, 0.1);
}

  .dshUiMeldungTitel {
    margin-top: 0px !important;
    font-weight: bold;
    padding: 5px 10px 5px 0;
  }

    .dshUiMeldungTitel * {
      font-weight: bold;
    }

    .dshUiMeldungTitel i.icon {
      position: absolute;
      left: -18px;
      top: 15px;
    }

  .dshUiMeldungInhalt {
    margin-bottom: 0px !important;
    padding: 5px 10px 5px 0;
  }

.dshUiMeldungLaden {
  border-right-style: dashed;
}

.dshUiMeldungLaden {
  border: 0;
  border-top: 23px solid;
  border-bottom: 2px solid;
}

// fa-caret-right ist 8px schmaler
.dshUiMeldung .dshUiMeldungTitel i.icon.fas.fa-caret-right {
  left: -14px;
}

.dshUiMeldung .dshUiMeldungTitel i.icon.fas.fa-exclamation-triangle {
  left: -19px;
}

// fa-lock ist 2px schmaler
.dshUiMeldung .dshUiMeldungTitel i.icon.fas.fa-lock {
  left: -17px;
}

// FARBEN;

<?php

// [Var] => [CSS]
$arten = array(
  "standard"    => "",
  "erfolg"      => "Erfolg",
  "fehler"      => "Fehler",
  "warnung"     => "Warnung",
  "info"        => "Information",
);

foreach($arten as $var => $css) {
  echo ".dshUiMeldung$css{".
    "background-color:@{$var}Hintergrund;".
    "border-color:@{$var}Akzent;".
    "color:@{$var}Schrift"
  ."}";

  echo ".dshUiMeldung$css .dshUiMeldungTitel i.icon{color:@{$var}Hintergrund}";
}

?>

.dshUiMeldungLaden .dshUiMeldungInhalt .dshUiLaden .dshUiLadesymbol>div {
  background-color: @standardSchrift;
}
.dshUiMeldungLaden .dshUiMeldungInhalt .dshUiLaden .dshNotiz {
  color: @standardSchrift;
}