// LAYOUT;

.dshUiReiter {
  margin-top: 10px;
  margin-bottom: 10px;
}

  .dshUiReiterKoepfe {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
  }

  .dshUiReiterKoepfe .dshUiReiterKopf {
    padding: 8px 16px;
    display: inline-block;
    transition: 250ms ease-in-out;
    user-select: none;
    height: 34px;
    flex-grow: 1;
    text-align: center;
  }

  .dshUiReiterKoepfe .dshUiReiterKopf:not(:only-child) {
    border-bottom: 2px solid transparent;
    cursor: pointer;
  }

  .dshUiReiterKoerper {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  .dshUiReiterKoerperAktiv {display: block;}
  .dshUiReiterKoerperInaktiv {display: none;}

// FARBEN;

  .dshUiReiterKoepfe .dshUiReiterKopfAktiv,
  .dshUiReiterKoepfe .dshUiReiterKopfInaktiv:hover {
    border-color: @schriftfarbePositiv !important;
    transition-timing-function: ease-out;
  }
