// LAYOUT;

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0px;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-bottom: 0px;
}

p {
  margin-bottom: 10px;
}

p:last-child {
  margin-bottom: 0px;
}

.dshUiListe {
  margin: 0px;
  padding-bottom: 10px;
}

.dshUiListe li {
  margin-left: 20px;
}

ul.dshUiListe li {
  list-style-type: square;
}

ul.dshUiListe ul.dshUiListe li  {
  list-style-type: circle;
}

ul.dshUiListe ul.dshUiListe ul.dshUiListe li  {
  list-style-type: disc;
}

ol.dshUiListe li {
  list-style-type: decimal;
}

ol.dshUiListe ol.dshUiListe li {
  list-style-type: lower-alpha;
}

ol.dshUiListe ol.dshUiListe ol.dshUiListe li {
  list-style-type: lower-roman;
}

a.dshUiLink {
  color: inherit;
  border-bottom: 1px solid;
  transition: border-color 250ms ease-in-out;
}

a.dshUiLink:hover {
  border-color: @linkHintergrundNachher;
}

a.dshUiLink .dshUiIcon {
  font-size: 85%;
  position: relative;
  bottom: 1px;
}

.dshUiNotiz {
  font-size: 80%;
  margin-bottom: 5px;
}

td.dshUiNotiz {
  margin-bottom: 0px;
}

.dshUiNotiz span {
  font-size: inherit;
}

pre {
  font-family: monospace;
  padding: 5px;
  border-radius: @radius2;
  border: 1px solid;
  overflow: auto;
}

pre * {
  font-family: monospace;
}

.dshUiMeldezahl {
  font-size: 80%;
  padding: 1px 4px;
  border-radius: @radius5;
  min-width: 20px;
  display: inline-block;
  text-align: center;
  margin-left: 5px;
}

.dshUiMeldezahlWichtig {
  font-weight: bold;
}

// FARBEN;

a.dshUiLink {
  border-color: @linkHintergrundVorher;
}

a.dshUiLink:hover {
  border-color: @linkHintergrundNachher;
}

.dshUiNotiz {
  color: @abstufung3;
}

pre {
  background-color: @abstufung3;
  border-color: @schriftfarbePositiv;
  color: @schriftfarbePositiv;
}

pre * {
  color: @schriftfarbePositiv;
}

.dshUiMeldezahl {
  background-color: @abstufung4;
  color: @schriftfarbeNegativ;
}

.dshUiMeldezahlWichtig {
  background-color: @fehlerAkzent;
}
